<footer>
    <div class="row">
      <div class="col">
        <h5>Location</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13230.555254027882!2d18.58442894962156!3d-34.00180998185736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc459f4d7302eb%3A0xa5d3c549c61760dd!2sUCT%20GSB%20Solution%20Space%20Philippi!5e0!3m2!1sen!2sza!4v1713882329016!5m2!1sen!2sza" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col">
        <br>
        <br>
        <address>1 Cwangco Cres, Philippi, Cape Town, 7781</address>
        <p class="email-id">infoco.za</p>
        <p>021 746 8748</p>
        <div class="social icons">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-whatsapp"></i>
          <i class="fa-brands fa-google"></i>
          <i class="fa-brands fa-youtube"></i>   
        </div>
      </div> 
      <div class="col" style="display: flex;">
        <img src="assets/images/Apple Watch 40mm - 2 (1).png" alt="footer-img" class="footer-img">
      </div>
    </div>
    <form style="padding: 60px;" id="footer">
      <i class="fa-solid fa-envelope"></i>
      <input type="email" placeholder="Enter Your email to sign up for our newsletter" required style="text-align: center;">
      <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
    </form>
    <hr class="footer-bottom">
    <p class="copyright">Food Deli c 2021 - All Right Reserved</p>
  </footer>
  