
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a routerLink="/landingPage">
        <img class="navbar-brand" src="assets/images/Apple Watch 40mm - 2 (1).png" alt="">
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/home" routerLinkActive="active" class="nav-link">HOME</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" routerLinkActive="active" class="nav-link">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">RECIPES</a>
          </li> 
          <li class="nav-item">
            <a routerLink="/" routerLinkActive="active" class="nav-link" id="favorites">FAVORITES</a>
          </li>
        </ul> -->
      </div>
    </div>
  </nav>
  