<div >
<div class="modal-header">
  <img src="https://cdn.dummyjson.com/recipe-images/1.webp" class="modal-image"/>
  <div class="time-info">
    <h1><strong>Classic Margherita Pizza</strong> (Dinner)</h1>
    <p><strong>prepTimeMinutes</strong> 20 min</p>
    <p><strong>cookTimeMinute</strong> 15 min</p>
    <p><strong>servings</strong> 4 people/person</p>
  </div>
  <div class="modal-btns">
    <a src="https://www.youtube.com/watch?v=joGKYTGbVw8" target="_blank"><i class="far fa-circle-play fa-2x"></i></a>
    <a class="favoriteBtn"><i class="fas fa-heart fa-2x"></i></a>
    <a id="textToSpeechBtn"><i class="fas fa-volume-up fa-2x"></i></a>
  </div>
  <div>
    <p>Tags:  Pizza,Italian</p>
    <p><strong>Ingredients:</strong>  Pizza dough,Tomato sauce,Fresh mozzarella cheese,Fresh basil leaves,Olive oil,Salt and pepper to taste

    </p>
    <p><strong>Instructions:</strong>  Preheat the oven to 475°F (245°C).,Roll out the pizza dough and spread tomato sauce evenly.,Top with slices of fresh mozzarella and fresh basil leaves.,Drizzle with olive oil and season with salt and pepper.,Bake in the preheated oven for 12-15 minutes or until the crust is golden brown.,Slice and serve hot.</p>
    <p><strong>Calories per Serving:</strong> 300</p>

  </div>


    

    <!-- Display other details as needed -->
  </div>
  