
<div *ngIf="selectedRecipe">
<div class="modal-header">
  <img src="{{selectedRecipe.image}}"  class="modal-image" />
  <div>
<a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="goBack()"><i class="fa-solid fa-circle-xmark"></i></a>
    <h1><strong> {{selectedRecipe.name}}</strong> {{selectedRecipe.mealType}}</h1>
    <p><strong><i class="fa-regular fa-clock"></i> Prep Time:</strong> {{selectedRecipe.prepTime}}</p>
    <p><strong><i class="fa-solid fa-clock"></i> Cook Time:</strong> {{selectedRecipe.cookTime}}</p>
    <p><strong><i class="fa-solid fa-people-group"></i> Servings:</strong>{{selectedRecipe.servings}}</p>
  <div class="modal-btns">
    
    <a href="{{selectedRecipe.videoLink}}" class="youtube-link" target="_blank"><i class="fa-regular fa-circle-play fa-2xl" id="modal-icon"></i></a>
    <a href="#" class="favorite-btn"><i class="fas fa-heart fa-2xl" id="modal-icon"></i></a>
    <a (click)="startTextToSpeech()"><i class="fas fa-volume-up fa-2x"></i></a>

  </div>
  
</div>
</div><hr>
  <div class="modal-body" >
  
  <div class="mood">
     <!-- <p><strong>Tags:</strong> {{selectedRecipe.tag}}</p>  -->
    <p><strong>Ingredients:</strong>  {{ selectedRecipe.ingredients }}
    </p>
    <p><strong>Instructions:</strong>{{selectedRecipe.instructions}}</p>
    <p><strong>Calories per Serving:</strong> {{selectedRecipe.calories}}</p>

  </div>
  </div>
  </div>
