
<div *ngif="selectedRecipe">
<div class="modal-header">
  <img src="https://cdn.dummyjson.com/recipe-images/1.webp"  class="modal-image" />
  <div>
<a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="goBack()"><i class="fa-solid fa-circle-xmark"></i></a>
    <h1><strong> {{selectedRecipe.name}}</strong> {{selectedRecipe.mealType}}</h1>
    <p><strong><i class="fa-regular fa-clock"></i> Prep Time:</strong> {{selectedRecipe.prepTimeMinutes}}</p>
    <p><strong><i class="fa-solid fa-clock"></i> Cook Time:</strong> {{selectedRecipe.cookTimeMinutes}}</p>
    <p><strong><i class="fa-solid fa-people-group"></i> Servings</strong>{{selectedRecipe.servings}}</p>
  <div class="modal-btns">
    
    <a (click)="playVideo({{youtubeLink}})"><i class="far fa-circle-play fa-2x"></i></a>
    <a class="favoriteBtn"><i class="fas fa-heart fa-2x"></i></a>
    <a (click)="startTextToSpeech({{recipe.voice}})"><i class="fas fa-volume-up fa-2x"></i></a>
  </div>
  
</div>
</div><hr>
  <div class="modal-body" >
  
  <div>
    <p><strong>Tags:</strong> {{selectedRecipe.tags}}</p>
    <p><strong>Ingredients:</strong>  {{ selectedRecipe.ingredients }}
    </p>
    <p><strong>Instructions:</strong>{{selectedRecipe.instructions}}</p>
    <p><strong>Calories per Serving:</strong> {{selectedRecipe.caloriesPerServing}}</p>

  </div>
  </div>



    

    <!-- Display other details as needed -->
  </div>
  