<section class="top-container">
    <div class="row">
      <div class="col" id="front">
        <div class="video-container">
          <h1>Welcome To Food Deli</h1>
          <a routerLink="''">Explore</a>
          <div class="logo2">
            <img src="./images/Apple Watch 40mm - 2.png" alt="">
          </div>
        </div>
      </div>
      <div class="col">
        <video autoplay loop muted playsinline class="back-video">
          <source src="/assets/images/T_Challa_Returns_-__...ouTube_2.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </section>
  
